.profile-popover {
  position: relative;
}

.popover-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 15px;
}

.image {
  width: 48px;
  height: 48px;
  border: 2px solid transparent; // Прозрачная граница
  border-radius: 50%;
  object-fit: cover;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    border-color: #0f46a5; // Синяя граница при наведении
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Тень при наведении
  }
}

.arrow {
  color: #6c757d; 
  transition: transform 0.2s ease; 


}

.arrow {
  color: #6c757d;
  transition: transform 0.2s ease; // Плавный поворот
}

.popover-button:hover .arrow {
  transform: scale(1.1); // Увеличение стрелки при наведении
}

.arrow-rotated {
  transform: rotate(180deg) scale(1.1); // Поворот и увеличение при открытии
}

.popover-button:hover .arrow-rotated {
  transform: rotate(180deg) scale(1.2); // Увеличение при наведении на открытую стрелку
}


.popover-panel {
  position: absolute;
  background-color: #ffffff;
  border-radius: 12px;
  border: 2px solid #e0e0e0; 
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem;
  transition: opacity 0.3s ease, transform 0.3s ease, scale 0.3s ease;
  opacity: 0;
  transform: translateY(-10px) scale(0.95); // Добавляем scale
  transform-origin: top right; // Указываем точку трансформации

  &[data-headlessui-state="open"] {
    opacity: 1;
    transform: translateY(0) scale(1); // Плавное появление
  }
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.username {
  color: #6c757d;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.logout-button {
  background-color: #ff4444;
  color: #ffffff;
  border: none;
  padding: 0.75rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    background-color: #cc0000;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Тень при наведении
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // Тень при нажатии
  }
}