.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    border: 2px solid #e0e0e0;
    transform: translateY(-2px);

    .actions {
      opacity: 1; 
      visibility: visible;
    }

    .dividerButtons {
      opacity: 1; 
      visibility: visible;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6c757d;
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    cursor: pointer;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 1rem; 
  }

  .name {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    
  }

  .dividerIcon {
    height: 70%; 
  }

  .dividerButtons {
    height: 70%;
  }

  .favorite-icon {
    color: #ffd700;
  }

  .description {
    font-size: 0.875rem;
    color: #6c757d;
    white-space: nowrap; // Предотвращает перенос текста
  }

  .info {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.875rem;
    color: #6c757d;
  }

  .content-count,
  .size,
  .created {
    white-space: nowrap; // Предотвращает перенос текста
  }

  .tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;   
  }
}
