.signup-form {
  display: flex;
  flex-direction: column;
 
  .password {
    margin-top: 1rem;
  }

  .email {
    margin-top: 1rem;
  }

  .login-link {
    margin-top: .5rem;
    text-align: end;
    color: #007bff;
  }

  .submit {
    margin-top: 1rem;
    background-color: #28a745; // Зелёный цвет кнопки
    color: #ffffff; // Белый текст
    border: none;
    padding: 0.75rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #218838; // Тёмно-зелёный при наведении
    }

       
  input::placeholder {
    color: #6c757d; 
    opacity: 1; 
  }

  input:focus::placeholder {
    color: transparent; 
  }
  
}
}