@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.profile-info {
  @include flex-column;
  gap: .75rem;

  .field {
    display: flex;
    justify-content: space-between;

    .content {
      @include flex-column;
      gap: .15rem
    }

    .feature {
      display: flex;
      justify-content: flex-end;
      align-self: center;
    }
  }
}