.profile-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; // Уменьшаем отступ между полями
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // Тень для контейнера
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f9f9f9; // Легкий фон для каждого элемента
  border-radius: 8px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #f0f0f0; // Изменение фона при наведении
    cursor: pointer;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label-0,
.label-1,
.label-2 {
  font-size: 0.875rem;
  font-weight: bold;
  color: #333;
}

.value-0,
.value-1,
.value-2 {
  font-size: 1rem;
  color: #666;

  &::before {
    content: '• '; // Добавляем маркер перед значением
    color: #007bff; // Цвет маркера
  }
}